@import '../../../styles/index.styl'
:host(app-header)
  padding 25px 0 10px
  position fixed
  z-index 1030
  left 0
  right 0
  nav
    display flex
    justify-content space-between
    align-items center
    width 100%
    margin 0 auto
    padding 0 15px
.nav
  &-left
    display flex
    flex-grow 1
    &-menu
      margin-left auto
      display flex
      flex-direction row
@media (min-width: 576px)
  nav
    max-width 540px
@media (min-width: 768px)
  nav
    max-width 720px
@media (min-width: 992px)
  nav
    max-width 960px
@media (min-width: 1200px)
  nav
    max-width 1140px
.mat-button
  a
    color #fff
    text-decoration none
