@import 'index.styl'
header
  padding 25px 15px 10px
  position fixed
  z-index 3
  left 0
  right 0
  .mat-button
    color #fff
  nav
    display flex
    justify-content space-between
    align-items center
    width 100%
    margin 0 auto
  a
    text-decoration none
.nav
  &-r
    display flex
    justify-content space-between
  &-icon
    color #fff
.header-scroll
  background-color #fff
  box-shadow 0 4px 18px 0 rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15)
  padding 10px 15px
  .mat-button, .nav-icon, .logo a
    color $fontColor
.logo
  font-weight 300
  font-size 18px
  a
    color #fff
.mobile
  &-a
    display block
    line-height 48px
::ng-deep.mobile
  &-menu
    background-color rgba(#fff, 0.8)
@media (min-width: 576px)
  nav
    max-width 540px
@media (min-width: 768px)
  nav
    max-width 720px
@media (min-width: 992px)
  nav
    max-width 960px
@media (min-width: 1200px)
  nav
    max-width 1140px
