<header
  class="header"
  [ngClass]="{ 'header-scroll': isScrolling }"
  [ngClass]="{ mobile: !isDesktop }"
  appScroll
  (onScrolling)="onScroll()"
  [@scroll]="scrollState"
>
  <nav class="nav">
    <div class="logo"><a routerLink="/">Zyhua's BLOG</a></div>

    <ng-container *ngIf="isDesktop; else Mobile">
      <div class="nav-r">
        <a
          *ngFor="let i of router"
          routerLink="{{ i.path }}"
          mat-button
          [matTooltip]="i.name"
          matTooltipClass="nav-btn-tooltip"
          >{{ i.name }}</a
        >
      </div>
    </ng-container>
    <ng-template #Mobile>
      <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onOpenMenu()">
        <mat-icon class="nav-icon" [@menu]="isVisable">menu</mat-icon>
      </button>
    </ng-template>
  </nav>
</header>
<mat-menu #menu="matMenu" class="mobile-menu" [hasBackdrop]="true" (closed)="onCloseMenu()">
  <a *ngFor="let i of router" routerLink="{{ i.path }}" mat-button class="mobile-a">{{ i.name }}</a>
</mat-menu>
