<header class="header" [ngClass]="{ 'header-scroll': isScrolling }" (click)="onStopPropagation($event)" appScroll
  (onScrolling)="onScroll()" [@scroll]="scrollState">
  <nav class="nav">
    <div class="logo"><a routerLink="/">Zyhua's BLOG</a></div>

    <ng-container *ngIf="isDesktop; else: Mobile">
      <div class="nav-right">
        <ul class="ul">
          <li *ngFor="let i of router">
            <a routerLink="{{i.path}}" mat-button [matTooltip]="i.name" matTooltipClass="nav-btn-tooltip">{{i.name}}</a>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-template #Mobile>
      <div class="nav-right">
        <button mat-icon-button mat-button matTooltip="menu" matTooltipClass="nav-btn-tooltip" (click)="onDrawer($event)">
          <mat-icon aria-label="icon-button with a menu icon" class="nav-icon">menu</mat-icon>
        </button>
      </div>
      <mat-drawer-container [(appBlackbox)]="isMobileMenu">
        <mat-drawer mode="side" opened="{{isMobileMenu}}" position="end" class="drawer">
          <mat-list>
            <mat-list-item *ngFor="let i of router">
              <mat-icon mat-list-icon>{{i.icon}}</mat-icon>
              <a class="mobile-a" mat-line routerLink="{{i.path}}">{{i.name}}</a>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>
        </mat-drawer>
      </mat-drawer-container>
    </ng-template>
  </nav>
</header>
