<div class="home">
  <div class="profile">
    <div class="avatar">
      <img src="assets/img/J0003_m.97851d87.png" alt="avatar">
    </div>
    <div class="name">
      <h3>Zyhua</h3>
      <h6>Coder</h6>
      <ul class="btns">
        <li><button mat-button>Basic</button></li>
        <li><button mat-button>Basic</button></li>
        <li><button mat-button>Basic</button></li>
      </ul>
    </div>
  </div>

  <div class="description">
    <p>
      codecodecodecode,codecodecod,
      codecodecodecode,
      codecodecodecodecodecod,
    </p>
  </div>
</div>
