<article class="article">
  <div>
    Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence way
    everything joy alteration boisterous the attachment. Party we years to order allow asked of. We so opinion friends
    me message as delight. Whole front do of plate heard oh ought. His defective nor convinced residence own.
    Connection has put impossible own apartments boisterous. At jointure ladyship an insisted so humanity he. Friendly
    bachelor entrance to on by.
  </div>

  <div class="footer">
    <div class="footer-l">
      <label>Categories:</label>
      <mat-chip-list>
        <mat-chip selectable="false" selected>
          11111
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="footer-r">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

  <app-reply></app-reply>
</article>
