<article class="article">
  <div markdown [data]="markdown" class="markdown"></div>

  <div class="footer">
    <div class="footer-l">
      <label>Categories:</label>
      <mat-chip-list>
        <mat-chip selectable="false" selected>
          11111
        </mat-chip>
      </mat-chip-list>
    </div>

    <div class="footer-r">
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

  <app-reply></app-reply>
</article>
