:host(app-article)
  .article
    padding 70px 15px 100px
    margin 0 auto
  .footer
    padding 30px 0 20px
    display flex
    justify-content space-between
    border-bottom 1px solid #eee
    &-l
      display flex
      align-items center
      label
        margin-right 10px
  @media (max-width: 576px)
    .article
      max-width 450px
    .footer
      display block
  @media (min-width: 576px)
    .article
      max-width 500px
  @media (min-width: 768px)
    .article
      max-width 600px
  @media (min-width: 992px)
    .article
      max-width 800px
  @media (min-width: 1200px)
    .article
      max-width 900px
