<div class="list">
  <mat-list>
    <mat-list-item>
      <article class="li">
        <div class="li-l">
          <div class="li-l-img"><img src="assets/img/image.jpg" /></div>
        </div>
        <div class="li-r">
          <h1><a href="">Title</a></h1>
          <span class="category">class</span>
          <p>
            Yet bed any for travelling assistance indulgence unpleasing. Not thoughts all exercise blessing. Indulgence
            way everything joy alteration boisterous the attachment. Party we years to or
          </p>
          <time>2000-20-20</time>
        </div>
      </article>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
</div>
