@import 'colors.styl'
fontRoboto($size = false, $colour = false, $weight = false, $lh = false)
  font-family 'Roboto', Helvetica, Arial, sans-serif
  font-weight 400
  line-height 1.5em
  color $fontColor
  if ($size)
    font-size $size
  if ($colour)
    color $colour
  if ($weight)
    font-weight $weight
  if ($lh)
    line-height $lh
