<ng-template #List>
  <!-- <ng-container *ngIf="(blogSer.articles$ | async).length;else #Search"> -->
  <ng-container
    *ngFor="
      let i of chipColoerHandler((blogSer.searchs$ | async).length ? (blogSer.searchs$ | async) : (blogSer.articles$ | async))
    "
  >
    <article class="li">
      <div class="li-l">
        <div class="li-l-img"><img [src]="i.cover || 'assets/img/image.jpg'" /></div>
      </div>
      <div class="li-r">
        <h1>
          <a [routerLink]="['/article', i._id]">{{ i.title }}</a>
        </h1>
        <mat-chip disabled selected [color]="i.color">{{ i.category.name }}</mat-chip>
        <div app-markdown [text]="i.content"></div>
        <time>{{ i.updateTime | date }}</time>
      </div>
    </article>
    <mat-divider></mat-divider>
  </ng-container>
  <!-- </ng-container> -->
</ng-template>

<ng-container *ngIf="isLoading; else List">
  <article class="li">
    <div class="li-l">
      <div class="li-l-img">
        <app-loading-placeholder class="loading-placeholder"></app-loading-placeholder>
      </div>
    </div>
    <div class="li-r">
      <h1>
        <app-loading-placeholder height="30px"></app-loading-placeholder>
      </h1>
      <app-loading-placeholder height="32px" width="80px"></app-loading-placeholder>
      <div class="margin__t-10">
        <app-loading-placeholder height="76px"></app-loading-placeholder>
      </div>
      <div class="margin__t-10">
        <app-loading-placeholder height="18px" width="100px"></app-loading-placeholder>
      </div>
    </div>
  </article>
  <mat-divider></mat-divider>
</ng-container>

<p *ngIf="(blogSer.isMore$ | async) && blogSer.isSearch" class="nomore nomore-search">search</p>
<p *ngIf="(blogSer.isMore$ | async)" class="nomore">no more</p>
