<!-- <div class="list"> -->
  <mat-list>
    <ng-container *ngFor="let i of data">
      <mat-list-item>
        <article class="li">
          <div class="li-l">
            <div class="li-l-img"><img src="assets/img/image.jpg" /></div>
          </div>
          <div class="li-r">
            <h1><a [routerLink]="[ '/article', i._id ]">{{i.title}}</a></h1>
            <span class="category">class</span>
            <div markdown [data]="i.content"></div>
            <time>{{i.updateTime}}</time>
          </div>
        </article>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
<!-- </div> -->
