:host(app-blog)
  .blog
    padding 65px 0 70px
    margin 0 auto
  .toolbar
    padding 40px 20px
  @media (min-width: 768px)
    .blog
      width 750px
  @media (min-width: 992px)
    .blog
      width 970px
  @media (min-width: 1200px)
    .blog
      width 1100px
