<button mat-icon-button title="wechat" (click)="shareWindow('wechat')">
  <mat-icon fontSet="iconfont" inline>&#xe629;</mat-icon>
</button>
<button mat-icon-button title="facebook" (click)="shareWindow('facebook')">
  <mat-icon fontSet="iconfont" inline>&#xe725;</mat-icon>
</button>
<button mat-icon-button title="twitter" (click)="shareWindow('twitter')">
  <mat-icon fontSet="iconfont" inline>&#xe872;</mat-icon>
</button>
<button mat-icon-button title="evernote" (click)="shareWindow('evernote')">
  <mat-icon fontSet="iconfont" inline>&#xe7f9;</mat-icon>
</button>
