<div class="reply">
  <h3 class="title">Leave a Reply</h3>

  <form class="form">
    <div class="form-row">
      <mat-form-field class="input">
        <input mat-prefix matInput placeholder="Name*">
      </mat-form-field>

      <mat-form-field class="input">
        <input matInput placeholder="Email*">
      </mat-form-field>
    </div>

    <mat-form-field>
      <textarea matInput rows="5" placeholder="What's on your mind?"></textarea>
    </mat-form-field>

    <div class="form-submit">
      <button mat-raised-button color="primary">Post Comment</button>
    </div>
  </form>
</div>
